


.container{
    box-sizing: border-box;
    border: 20px solid rgb(143, 133, 133);
}

h1{
 left:0;
 position: relative;
 font-size: 14px;
 color: rgb(90, 88, 88);
 background-color:inherit ;
}

p{
    right: 0;
    position: relative;
}